@import "styles.css";

.main-assignments-btn
{
    padding: 10px;
    color: white;
    background-color: #588BAE;
    text-decoration: none;
}

.main-assignments-status-btns p
{
    color: #ADD8E6;
}
.main-assignments-status-btns a
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}
.main-assignments-status-btns a:hover
{
    background-color: black;
    color: white;
}

/* yung box sa baba */
.main-table
{
	margin-left:50px;
	overflow-y: scroll;
    width: 1300px;
    /*	 height: 50% !important; */
    padding-right: 10px;
    border: 3px solid #15223B;
    
    border-radius: 10px;
	
    display: inline-block;
    background-color: none;
    text-align:center;
    background-color: #588BAE;
}

.th-big {
    height: 50px;
}