@import "styles.css";

.sidebar-profile-text a:hover
{
    background-color: none;
    margin: 0px;
    color: white;
}




.sidebar-assignments-btn
{
    background-color: #588BAE;
    display: fixed;
}

.sidebar-profile-btn
{
    background-color: #588BAE;
    display: fixed;
}


.sidebar-settings-btn
{
    background-color: #588BAE;
    display: fixed;
}


.sidebar-profile-btn a:hover
{
    color: white;
    background-color: black;
}

.sidebar-settings-btn a:hover
{
    color: white;
    background-color: black;
}

.sidebar-assignments-btn a:hover
{
    color: white;
    background-color: black;
}


/*active button*/
.sidebar-history-btn a
{
    color: black;
    background-color: white;
}

.sidebar-history-btn a:hover
{
    color: black;
    background-color: white;
}












.main-assignments-btn
{
    padding: 10px;
    color: white;
    background-color: #588BAE;
    text-decoration: none;
}

.main-assignments-status-btns p
{
    color: #ADD8E6;
}
.main-assignments-status-btns a
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}
.main-assignments-status-btns a:hover
{
    background-color: black;
    color: white;
}
