@import "styles.css";

.sidebar-profile-text a:hover
{
    background-color: none;
    margin: 0px;
    color: white;
}

.sidebar-history-btn
{
    background-color: #588BAE;
    display: fixed;
}

.sidebar-profile-btn
{
    background-color: #588BAE;
    display: fixed;
}


.sidebar-assignments-btn
{
    background-color: #588BAE;
    display: fixed;
}


.sidebar-profile-btn a:hover
{
    color: white;
    background-color: black;
}

.sidebar-assignments-btn a:hover
{
    color: white;
    background-color: black;
}

.sidebar-history-btn a:hover
{
    color: white;
    background-color: black;
}


/*active button*/
.sidebar-settings-btn a
{
    color: black;
    background-color: white;
}

.sidebar-settings-btn a:hover
{
    color: black;
    background-color: white;
}

.main-table {
    overflow-y: scroll;
    width: 1400px;
    height: 83%;
    padding-right: 10px;
    border: 3px solid #15223B;
    
    border-radius: 10px;
	
    display: inline-block;
    background-color: none;
    text-align:center;
    background-color: #588BAE;
}

tr {
    height: 50px;
}