@import "styles.css";

/* Unselected */
.pager1 a,.pager0 a{
	background-color:#15223B;
	color:#FFFFFF;
	margin: -1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
		display: inline;
}

/* Selected */
.pager2 a{
	background-color:#588BAE;
	color:#15223B;
	margin: -1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
		display: inline;
	
}
@media screen and (max-width: 912px){

	.pager1 a,.pager2 a ,.pager0 a{
		margin: 0px;
		font-size: 10px;
		padding-bottom: 0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
			display: inline;
	}
	