p,h1,h2,h3,h4,h5,h6,label,a,th,td
{
    font-family: 'Open Sans', sans-serif;    
}

.sidebar
{
    position:fixed;
    height: 110%;
    width: 400px;
    display:block;
    margin: -10px;
    padding: 0px;
    background-color: #15223B;
}


.bottom-button
{
    background-color: #588BAE;
    position: fixed;
    display:block;
    bottom:0px;
    width: 400px;
}

.sidebar a
{
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: none;
    display: block;
    text-decoration: none;
}

.sidebar a:hover
{
    color: white;
    background-color: black;
}

.red-text{
    color:red;
}
.comment-text{
    color:#ADD8E6;
}
.left-align{
    text-align: left;
}


.body{
    width: 100%;
    height: 100%;
}

.container{
    position: fixed;
    top: 0px;
    left: 0px;
    
    height: 100%;
    width: 100%;
    
    text-align: center;
}

.color-dark
{
    background-color: #15223B
}
.color-white
{
    background-color: #FFFFFF
}
.color-light
{
    background-color: #ADD3E6
}
.small-text{
    font-size: 10px;
}
.main
{
    padding-top: 40px;
    width: 1500px;
    height: 80%;
    display: inline-block;
    margin-left: 400px;
    background-color: none;
    text-align:center;
}


/* Login page styles */

input[type=text]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;

}
input[type=number]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;
}
input[type=email]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;
}
input[type=password]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;
}

input[type=file]{
    font-family: 'Open Sans', sans-serif; 
	margin-left: 50px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

#login-form-container
{
    margin-top: 100px;
    
}

#login-form-container
{
    margin-top: 100px;
    
}

#login-panel{
    position: fixed;
    
    background-color: #FFFFFF;
    margin:auto;
    width: 30%;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    text-align: center;
}

#login-panel form{
    margin-top: 100px;
    text-align: center;
    text-align: center;

}

#login-panel input[type="text"]{
    text-align: center;
    margin: auto;
    display: block;
}

#login-panel a
{
    color: #588BAE;
}

#login-panel label{
    font-size: 16px;
}
#remember{
    display: inline-block;
}

#login-panel h1{
    color: #15223B;
    margin: 0px auto;
    padding-top:0px;
    padding-bottom:0px;
    width: 40%;
}





/* yung box sa baba */
.main-table
{
    overflow-y: scroll;
    width: 1400px;
    height: 50%;
    padding-right: 10px;
    border: 3px solid #15223B;
    
    border-radius: 10px;
	
    display: inline-block;
    background-color: none;
    text-align:center;
    background-color: #588BAE;
}

/* Scrollbar styles from: https://www.positronx.io/create-html-scroll-box/ */
::-webkit-scrollbar {
width: 15px;
height: 15px;
background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
border-radius: 15px;
}

::-webkit-scrollbar-thumb {
background: #15223B;  
border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
background: #FFFFFF;  
}




/* Table styles */
table {
    width: 100%;
    border:none;
    border-collapse: collapse;
}

th{
    height: 20px;
    background-color: #15223B;
    color: white;
}

tr {
  border-bottom: 1px solid #FFFFFF;
}
tr:hover
{
    background-color: #15223B;
}
td{
    color: white;
    padding: 0px;
}

.sidebar-profile
{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    background-color: none;
}

.sidebar-profile a
{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    background-color: none;
    color: #588BAE;
}
.sidebar-profile a:hover
{
    color: white;
}

.sidebar-profile-text
{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background-color: none;
}
.sidebar-profile-text a
{
    font-size: 16px;
    text-decoration:underline;
}

.sidebar-profile-email
{
    display: inline-block;
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
    background-color: none;
}

.sidebar-profile-name
{
    color:white;
    margin: 0px;
    font-size:30px;
}

.main-profile-links
{
    margin-top: 50px;    
}

.main-profile-links a
{
    text-decoration:none;
    font-size: 23px;
    display: block;
    margin:10px;
}

.main-profile-welcome h1
{
    font-size: 30px;
    margin-top: 20px;
}

.main-profile-welcome p
{
    margin:20px;
    font-size: 23px;    
}

.main-header
{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    background-color: none;
    display: block;
}
.main-header h1
{
    font-size:30px;
    margin-bottom: 50px;
}
.main-header p
{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}