p,h1,h2,h3,h4,h5,h6,label,a,th
{
    font-family: 'Open Sans', sans-serif;    
}

td
{
	height: 50px;
	font-family: 'Open Sans', sans-serif;  
}

.td-none{
	text-decoration:none;
}

.navbar{
	/* position: fixed !important; */
	width: 100%;
}

.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  background-color: #588BAE;
  color: #15223B;
  padding: 16px;
  text-decoration: none;
}

.pos-absolute{
	position: absolute !important;
}

.active {
  background-color: white !important;
  color: black !important;
}
/* ayaw gumana nung nasa baba eh */

.sidebar a.active {
  background-color: red !important;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #15223B;
  color: white;
}

div.content {
  margin-left: 200px;
  margin-top: 100px;
  padding: 1px 16px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.color-super-dark
{
    color: #15223B
}
.color-dark
{
    color: #588BAE
}
.color-white
{
    color: #FFFFFF
}
.color-light
{
    color: #ADD3E6
}
.bgc-super-dark
{
    background-color: #15223B
}
.bgc-dark
{
    background-color: #588BAE
}
.bgc-white
{
    background-color: #FFFFFF
}
.bgc-light
{
    background-color: #ADD3E6
}

/* //lol idk THIS IS for logout btn in sidebar */
.bgc-none
{
	width: 40%;
    background-color: #15223B !important;
}

#sidebar
{
    position:fixed;
    height: 110%;
	left: 0px;
    width: 400px;
    /* display:inline-block; */
    /* margin: -10px; */
    padding: 0px;
    background-color: #15223B;
}

#sidebar a
{
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: #588BAE;
    display: block;
    text-decoration: none;
}

#sidebar a:hover
{
    color: white;
    background-color: black;
}

#side-main{
	width: 80%;
}

.bottom-button
{
    background-color: #588BAE;
    position: fixed;
    display:block;
    bottom:0px;
    width: 400px;
}


.red-text{
    color:red;
}
.white-text{
    color:white;
}
.comment-text{
    color:#ADD8E6;
}
.left-align{
    text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}


.body{
	margin: 0px;
    width: 100%;
    height: 100%;
}

.small-text{
    font-size: 16px !important;
}

.main
{
	max-width: 100%;
    overflow-x: hidden;
	
	overflow-y:scroll;
	max-height:900px;
    padding-top: 40px;
    width:100%;
    height: 100%;
	/* margin-right: 10px; */
    /* display: inline-block; */
    margin-left: 400px;
    background-color: none;
    text-align:center;
}


/* Login page styles */

input[type=text]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
    border: 1px solid #000000;

}
input[type=number]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;
	text-align: center;

}
input[type=email]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;
}
input[type=password]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	padding: 5px;
	border-radius: 5px;
    border: 1px solid #000000;
	text-align: center;
}

input[type=submit]{
    font-family: 'Open Sans', sans-serif; 
	width: 250px;
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	color: #FFFFFF;
    border: 1px solid #000000;
	background-color: #588BAE !important;
	text-align: center;
}
input[type=file]{
    font-family: 'Open Sans', sans-serif; 
	margin-left: 50px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #588BAE !important;
}

select{
	height: 30px;
	border: 1px solid #000000;
	border-radius: 5px;
	text-align: center;
}

#login-form-container
{
    margin-top: 100px;
    
}

#login-panel{
    position: fixed;
    
    background-color: #FFFFFF;
    margin:auto;
    width: 30%;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    text-align: center;
}

#login-panel form{
    margin-top: 100px;
    text-align: center;
    text-align: center;

}

#login-panel input[type="text"]{
    text-align: center;
    margin: auto;
    display: block;
}

#login-panel a
{
    color: #588BAE;
}

#login-panel label{
    font-size: 16px;
}
#remember{
    display: inline-block;
}

#login-panel h1{
    color: #15223B;
    margin: 0px auto;
    padding-top:0px;
    padding-bottom:0px;
    width: 40%;
}

/* yung box sa baba */
.main-table
{
    overflow-y: scroll;
    /* height: 50%; */
    padding-right: 0px;
    border: 3px solid #15223B;
    
    border-radius: 10px;
	
    display: inline-block;
    background-color: none;
    text-align:center;
    background-color: #588BAE;
}

/* Scrollbar styles from: https://www.positronx.io/create-html-scroll-box/ */
::-webkit-scrollbar {
width: 15px;
height: 15px;
background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
border-radius: 15px;
}

::-webkit-scrollbar-thumb {
background: #15223B;  
border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
background: #FFFFFF;  
}




/* Table styles */
table {
    width: 100%;
    border:none;
    border-collapse: collapse;
}

th{
    height: 20px;
    background-color: #15223B;
    color: white;
}

tr {
  border-bottom: 1px solid #FFFFFF !important;
}
tr:hover
{
    background-color: #15223B;
}
td{
    color: white;
    padding: 0px;
}

.sidebar-profile
{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    background-color: none;
}

.sidebar-profile a
{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    background-color: none;
    color: #588BAE;
}
.sidebar-profile a:hover
{
    color: white;
}

.sidebar-profile-text
{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background-color: none;
}
.sidebar-profile-text a
{
    font-size: 16px !important;
    text-decoration:underline !important;
	padding:0px !important;
}

.sidebar-profile-email
{
    display: inline-block;
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
    background-color: none;
}

.sidebar-profile-name
{
    color:white;
    margin: 0px;
    font-size:30px;
}

.main-profile-links
{
    margin-top: 50px;    
}

.main-profile-links a
{
    text-decoration:none;
    font-size: 23px;
    display: block;
    margin:10px;
}

.main-profile-welcome h1
{
    font-size: 30px;
    margin-top: 20px;
}

.main-profile-welcome p
{
    margin:20px;
    font-size: 23px;    
}

.main-header
{
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
	padding-bottom: 50px;
    background-color: none;
    display: block;
}
.main-header h1
{
    font-size:30px;
    /* margin-bottom: 0px; */
}
.main-header p
{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}

#main-table-bottom{
    margin: 10px;
}
button:hover{
    background-color:#588BAE;
}
button{
    width: 250px;
    margin: 10px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif; 
	border-radius: 5px;
    color: #FFFFFF;
    background-color: #15223B;
}

.openbtn{
	z-index:1000;
	position:absolute;
	display: none;

	top:0px;
	right:0px;
	padding:20px;
}

.pager{
	display: flex;
	text-align:right;
	right:0px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.percentage{
	display: inline;
	width: 15% !important;
}

.text-next-to-percentage{
	display: inline;
	width: 46% !important;
}

.main-assignments-status-btns 
{
	display:inline;
}
.main-assignments-status-btns p
{
    color: #ADD8E6;
}
.main-assignments-status-btns button
{
    padding: 5px;
	width:100px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}
.main-assignments-status-btns button:hover
{
    background-color: black;
    color: white;
}

input:read-only {
    background-color: #AEC6CF;
}

.inline{
	display: inline;
}

.comment textarea{
    font-family: 'Open Sans', sans-serif; 
	width: 800px;
	height: 100px;
	text-align: justify;
	text-justify: inter-word;
}
.comment p{
	margin-bottom: 0px !important;
}

@media screen and (max-width: 912px){
	
	
	div.content {
	  /* margin-left: 200px; */
	  margin-top: 200px;
	  padding: 1px 16px;
	  height: 1000px;
	}

	.main-header
	{
		padding: 0px;
		text-align: left;
		background-color: none;
		display: block;
		padding-bottom: 20px;
	}
	
	.main-header h1
	{
		font-size:20px;
		margin-bottom: 30px;
	}
	.main-header p
	{
		margin-bottom: 5px;
		font-size: 15px;
	}
	
	
	#side-main{
		width: 100%;
	}
	
	.main
	{
		padding-top: 50px;
		
		width: 100%;
		height: 100%;
		display: absolute;
		position: fixed;
		top:50px;
		left:0px;
		right:0px;
		bottom:0px;
		text-align:center;
		margin: 10%;
	}
	
	.main-table
	{
		max-height:80%;
		overflow-y: scroll;
		width: 100% !important;
		height: 100%  !important;
		border: 3px solid #15223B;
		
		border-radius: 10px;
		
		display: inline-block;
		background-color: none;
		text-align:center;
		background-color: #588BAE;
		margin-right:50px;
	}
	.assignments-form{
		margin-right:50px;
		margin-left:-30px;
	}
	.main-table tr{
		font-size: 10px;
	}
	.main-table a{
		background:0px !important;
		font-size:10px !important;
		color: white !important;
		text-decoration: underline !important;
	}
	.main-table a:hover{
		background:0px !important;
		font-size:10px !important;
	}
	
	.main-profile-links
	{
		top:0px !important;
		margin-top: 0px !important;
	}
	
	td{
		width: 10px;
	}	
	th{
		font-size: 14px;
	}

	
	#sidebar
	{
		position:fixed;
		height: 110%;
		width: 0%;
		z-index:10;
		display:block;
		margin: 0px;
		padding: 0px;
		background-color: #15223B;
		overflow-x: hidden;
		transition: 0.5s;
	}
	
	.main-header h1{
		margin-bottom:0px;
	}
	
	h1{
		margin:5px;
	}
	h3{
		font-size: 16px;
		margin:0px;
	}
	p{
		margin:2px;
	}
	
	#login-form-container
	{
		margin-top: 10px;
		
	}

	#login-panel{
		position: fixed;
		background-color: #FFFFFF;
		margin:auto;
		width: 100%;
		right: 0px;
		left: 0px;
		top: 0px;
		height: 100%;
		text-align: center;
	}

	#login-panel form{
		position: relative;
		right: 0px;
		left: 0px;
		margin-top: 20px;
		text-align: center;

	}

	#login-panel input[type="text"]{
		text-align: center;
		margin: auto;
		display: block;
	}

	#login-panel a
	{
		color: #588BAE;
	}

	#login-panel label{
		font-size: 16px;
	}
	#remember{
		display: inline-block;
	}

	#login-panel h1{
		color: #15223B;
		margin: 0px auto;
		padding-top:0px;
		padding-bottom:0px;
		width: 40%;
	}
	.bottom-part{
		margin-bottom: 10px;
	}
	
	.bottom-button{
		background-color: #588BAE;
		position: relative;
		display:block;
		bottom:0px;
		width: 0% !important;
	}
	
	.openbtn{
		display: block;
		z-index:100 !important;
		position:fixed;
		right:0px;
		margin-top: 5px;
		display:absolute;
	}
	
	.openbtn a{
		font-size:25px;
		text-align:right;
		padding: 15px;
		color: white;
		text-decoration:none !important;
		/* background-color: #588BAE; */
	}
	
	#main-table-bottom{
		margin: 0px;
		padding:0px;
	}
	#main-table-bottom button:hover{
		background-color:#588BAE;
	}
	#main-table-bottom button{
		width: 130px;
		margin: 5px;
		padding: 5px;
		font-family: 'Open Sans', sans-serif; 
		border-radius: 5px;
		color: #FFFFFF;
		font-size:10px;
		background-color: #15223B
	}
	
	
	
	/* Login page styles */
	input[type=text]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;

	}
	input[type=file]{
		font-family: 'Open Sans', sans-serif; 
		width: 190px;
		padding: 0px;
		border-radius: 5px;
		border: 1px solid #000000;

	}
	input[type=number]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;
	}
	input[type=email]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;
	}
	input[type=password]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;
		text-align: center;
	}
}


@media screen and (max-height: 720px){

	/* Login page styles */

	input[type=text]{
		font-family: 'Open Sans', sans-serif; 
		width: 150px;
		padding: 0px;
		border-radius: 5px;
		border: 1px solid #000000;

	}
	input[type=number]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;
	}
	input[type=email]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;
	}
	input[type=password]{
		font-family: 'Open Sans', sans-serif; 
		width: 250px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #000000;
		text-align: center;
	}
	
		
	/* Table styles */
	table {
		width: 100%;
		border:none;
		border-collapse: collapse;
	}

	label{
		font-size: 12px;
	}

	input[type=file]{
		font-family: 'Open Sans', sans-serif; 
		margin-left: 50px;
		padding: 10px;
		border-radius: 5px;
		border: none;
	}

	.main-header h1
	{
		font-size:15px;
		margin-bottom: 50px;
	}
	.main-header p
	{
		margin-top: 12px;
		margin-bottom: 2px;
		font-size: 12px;
	}
	
	.container{
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 0%;
		width: 100%;
	}
	
	#side-main{
		width: 100%;
	}
	.main
	{
		width: 80%;
		height: 91%;
		display: absolute;
		position:fixed;
		top:0px;
		bottom:0px;
		padding-top:0px;
		text-align:center;
		margin: 10%
	}
	
	.main-table
	{
		overflow-y: scroll;
		width: 100% !important;
		height: 500px  !important;
		padding-right: 0px;
		border: 3px solid #15223B;
		
		border-radius: 10px;
		
		display: inline-block;
		background-color: none;
		text-align:center;
		background-color: #588BAE;
	}
	
	.main-table tr{
		font-size: 10px;
	}
	.main-table a{
		background:0px !important;
		font-size:10px !important;
		color: white !important;
		text-decoration: underline !important;
	}
	.main-table a:hover{
		background:0px !important;
		font-size:10px !important;
	}
	
	.main-profile-links
	{
		top:0px !important;
		margin-top: 0px !important;
	}

	
	#sidebar
	{
		position:fixed;
		height: 110%;
		width: 0%;
		z-index:10;
		display:block;
		margin: -10px;
		padding: 0px;
		background-color: #15223B;
		overflow-x: hidden;
		transition: 0.5s;
	}
	
	.main-header h1{
		margin-bottom:0px;
	}
	
	h1{
		margin:5px;
	}
	h3{
		font-size: 16px;
		margin:0px;
	}
	p{
		margin:2px;
	}
	
	#login-form-container
	{
		margin-top: 10px;
		
	}

	#login-panel{
		position: fixed;
		background-color: #FFFFFF;
		margin:auto;
		width: 100%;
		right: 0px;
		left: 0px;
		top: 0px;
		height: 100%;
		text-align: center;
	}

	#login-panel form{
		position: relative;
		right: 0px;
		left: 0px;
		margin-top: 20px;
		text-align: center;

	}

	#login-panel input[type="text"]{
		text-align: center;
		margin: auto;
		display: block;
	}

	#login-panel a
	{
		color: #588BAE;
	}

	#login-panel label{
		font-size: 16px;
	}
	#remember{
		display: inline-block;
	}

	#login-panel h1{
		color: #15223B;
		margin: 0px auto;
		padding-top:0px;
		padding-bottom:0px;
		width: 40%;
	}
	
	#main-table-bottom{
		margin: 0px;
		padding:0px;
	}
	#main-table-bottom button:hover{
		background-color:#588BAE;
	}
	#main-table-bottom button{
		width: 130px;
		margin: 5px;
		padding: 5px;
		font-family: 'Open Sans', sans-serif; 
		border-radius: 5px;
		color: #FFFFFF;
		font-size:10px;
		background-color: #15223B
	}
}


@media screen and (max-height: 915px){

	
	#side-main{
		width: 100% !important;
	}

	.main-table
	{
		overflow-y: scroll;
		width: 100% !important;
		height: 600px  !important;
		padding-right: 0px;
		border: 3px solid #15223B;
		
		border-radius: 10px;
		
		display: inline-block;
		background-color: none;
		text-align:center;
		background-color: #588BAE;
	}
	
	.main-table tr{
		font-size: 10px;
	}
	.main-table a{
		background:0px !important;
		font-size:10px !important;
		color: white !important;
		text-decoration: underline !important;
	}
	.main-table a:hover{
		background:0px !important;
		font-size:10px !important;
	}
	
	.main-profile-links
	{
		top:0px !important;
		margin-top: 0px !important;
	}
}