@import "styles.css";


.sidebar-profile-text a:hover
{
    background-color: none;
    margin: 0px;
    color: white;
}

.sidebar-history-btn
{
    background-color: #588BAE;
    display: fixed;
}

.sidebar-assignments-btn
{
    background-color: #588BAE;
    display: fixed;
}


.sidebar-assignments-btn a:hover
{
    color: white;
    background-color: black;
}




.sidebar-settings-btn
{
    background-color: #588BAE;
    display: fixed;
}


.sidebar-settings-btn a:hover
{
    color: white;
    background-color: black;
}

.sidebar-history-btn a:hover
{
    color: white;
    background-color: black;
}


/*active button*/
.sidebar-profile-btn a
{
    color: black;
    background-color: white;
}

.sidebar-profile-btn a:hover
{
    color: black;
    background-color: white;
}




.main-assignments-btn
{
    padding: 10px;
    color: white;
    background-color: #588BAE;
    text-decoration: none;
}

.main-assignments-status-btns p
{
    color: #ADD8E6;
}
.main-assignments-status-btns a
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}
.main-assignments-status-btns a:hover
{
    background-color: black;
    color: white;
}

/* yung box sa baba */
.main-table-terms
{
    overflow-y: scroll;
    width: 1400px;
    height: 75%;
    padding-right: 10px;
    border: 3px solid #15223B;
    
    border-radius: 10px;
	
    display: inline-block;
    background-color: none;
    text-align:center;
    background-color: #588BAE;
}


.main-table-terms p{
	color: #FFFFFF;
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
}

.main-table-terms-active
{
    overflow-y: scroll;
    width: 1400px;
    height: 80%;
    padding-right: 10px;
    border: 3px solid #15223B;
    
    border-radius: 10px;
	
    display: inline-block;
    background-color: none;
    text-align:center;
    background-color: #588BAE;
}
