<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <!-- <link rel = "stylesheet" href="add_view.css"> -->
	<!-- <link rel = "stylesheet" href="agent_add_view.css"> -->
    <title>Create Assignment</title>
	
	<!-- USE agent_add_view FOR SOME REASON TABLES LOOK MUCH BETTER -->
    <link rel = "stylesheet" href="agent_add_view.css">	
	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";
			}
		}

		function checkForm()
        {
            var valid = false;

            var email = document.getElementById("email");
            var fname = document.getElementById("fname");
            var lname = document.getElementById("lname");
            var appnum = document.getElementById("appnum");
            var appaddress = document.getElementById("appaddress");

            if (email.value == "")
            {
                email.style.backgroundColor = "red";
                valid = false;
            }
            else{
                email.style.backgroundColor = "white";
            }

            if (fname.value == "")
            {
                fname.style.backgroundColor = "red";
                valid = false;
            }
            else{
                fname.style.backgroundColor = "white";
            }
			
            if (lname.value == "")
            {
                lname.style.backgroundColor = "red";
                valid = false;
            }
            else{
                lname.style.backgroundColor = "white";
            }

			if (appnum.value == "")
            {
                appnum.style.backgroundColor = "red";
                valid = false;
            }
            else{
                appnum.style.backgroundColor = "white";
            }

            if (appaddress.value == "")
            {
                appaddress.style.backgroundColor = "red";
                valid = false;
            }
            else{
                appaddress.style.backgroundColor = "white";
            }
			
			
            return valid;
        }
	</script>
		
	<link rel = "stylesheet" href="agent_add_view.css">	
	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
	<nav class="navbar navbar-dark navbar-inverse bgc-super-dark navbar-fixed-top pb-3">
		<div class= "d-inline-block">
			<img src="6227853b83e54f2e94c29519d7c234db (1).jpg" height="72px" class="mx-3">
			
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

		</div>
		
	</nav>
	
	<div class="container-flex">
		
		<div id="sidebar" class=" d-inline-block h-100">
	       <div class="sidebar-profile ">
				<div class="sidebar-profile-text">
					<p class="sidebar-profile-name">Administrator</p>
					<p class="sidebar-profile-email"><i>{{this.lname}}, {{this.fname}} #{{this.appnum}}</i></p>
					<br>
					<p class="sidebar-profile-email"><i>{{this.email}}</i></p>
					<a class="bgc-none" href="/logout">Log Out</a>
				</div>
			</div>

			<div><a href="/assignments">Assignment Management</a></div>
			
			<div><a class="active" href="/admin/accounts">Agent Management</a></div>
			
			<div><a href="/history">History</a></div>
			
			<div><a href="/admin-add-agent">Add New Agent</a></div>
			
			<div><a href="/admin-add-assignment">Add New Assignment</a></div>
			
        </div>

		<div class ="main d-inline-block main w-75 container-flex">
            <div class="main-header">
                <h1 class="px-5">See All Agents</h1>
                <p class="px-5"><b><i>Admin Panel</b></i></p>
            </div>
			
			<form method="get" action="/assignments" class="mx-auto">
				<div class="table-responsive main-table">
					<table>
                        
                        <tr>
                            <th><label for="email">Email</label></th>
                            <td><input name="email" id="email" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="fname">First Name</label></th>
                            <td><input name="fname" id="fname" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="lname">Last Name</label></th>
                            <td><input name="lname" id="lname" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="appnum">License Number</label></th>
                            <td><input name="appnum" id="appnum" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="appaddress">Appraiser Address</label></th>
                            <td><input name="appaddress" id="appaddress" type="text"></td>
                        </tr>

                    </table>
                </div>

				<div id="main-table-bottom">
					<button type = "submit" formaction="/new-agent" name="new_age" onsubmit="return checkForm()">Add Agent</button>
				</div>
            </form>
        </div>
    </div>
</body>
</html>
