<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="add_view.css">
    <title>Create Assignment</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";
			}
		}

		function checkForm()
        {
            var valid = true;

            var username = document.getElementById("username");
            var password = document.getElementById("password");
            var email = document.getElementById("email");
            var fname = document.getElementById("fname");
            var lname = document.getElementById("lname");
            var appnum = document.getElementById("appnum");

            //if either field is empty, do not proceed.
            if (username.value == "")
            {
                username.style.backgroundColor = "red";
                valid = false;
            }
            else{
                username.style.backgroundColor = "white";
            }
            if (password.value == "")
            {
                password.style.backgroundColor = "red";
                valid = false;
            }
            else{
                password.style.backgroundColor = "white";
            }
            return valid;

            if (email.value == "")
            {
                email.style.backgroundColor = "red";
                valid = false;
            }
            else{
                email.style.backgroundColor = "white";
            }
            return valid;

            if (fname.value == "")
            {
                fname.style.backgroundColor = "red";
                valid = false;
            }
            else{
                fname.style.backgroundColor = "white";
            }
            return valid;

            if (lname.value == "")
            {
                lname.style.backgroundColor = "red";
                valid = false;
            }
            else{
                lname.style.backgroundColor = "white";
            }
            return valid;

			if (appnum.value == "")
            {
                appnum.style.backgroundColor = "red";
                valid = false;
            }
            else{
                appnum.style.backgroundColor = "white";
            }
            return valid;
        }
	</script>

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Admin</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>


            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
            
			<div class="sidebar-profile-btn">
                <a  href="/admin-add-assignment">Add New Assignment</a>
            </div>

            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
            <div class="bottom-button">
                <a href="/logout">Logout</a>
            </div>
        </div>

		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

        <div class="main">
            <div class="main-header">
                <h1>Create Agent</p>
                <p><b><i>Create New Agent</b></i></p>
            </div>
            <form class="assignments-form" action = "/assignments" method = "post">
                <div class="main-table">
                    <table>
                        <tr>
                            <th><label for="username">New Agent Username</label></th>
                            <td><input name="username" id="username" type="text" value="{{this.username}}" readonly></td>
                        </tr>
                        <tr>
                            <th><label for="password">New Agent Password</label></th>
                            <td><input name="password" id="password" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="email">New Agent Email</label></th>
                            <td><input name="email" id="email" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="fname">New Agent First Name</label></th>
                            <td><input name="fname" id="fname" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="lname">New Agent Last Name</label></th>
                            <td><input name="lname" id="lname" type="text"></td>
                        </tr>
            <tr>
                            <th><label for="appnum">New Agent App Number</label></th>
                            <td><input name="appnum" id="appNum" type="text"></td>
                        </tr>

                    </table>
                </div>

				<div id="main-table-bottom">
					<button type = "submit" formaction="/new-agent" name="new_age" onsubmit="return checkForm()">Add Agent</button>
				</div>
            </form>
        </div>
    </div>
</body>
</html>
