<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="agent_add_view.css">
    <title>Create Assignment</title>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{			
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";
			}
		}
		
		function checkForm()
        {
            var valid = true;
            
            var ref_id = document.getElementById("ref_id");
            var client_f_name = document.getElementById("client_f_name");
            var client_l_name = document.getElementById("client_l_name");
            var loc_city = document.getElementById("loc_city");
            var loc_region = document.getElementById("loc_region");
            var loc_brgy = document.getElementById("loc_brgy");
			
            //if either field is empty, do not proceed.
            if (ref_id.value == "")
            {
                ref_id.style.backgroundColor = "red";
                valid = false;
            }
            else{
                ref_id.style.backgroundColor = "white";
            }
            if (client_f_name.value == "")
            {
                client_f_name.style.backgroundColor = "red";
                valid = false;
            }
            else{
                client_f_name.style.backgroundColor = "white";
            }
            return valid;
			
            if (client_l_name.value == "")
            {
                client_l_name.style.backgroundColor = "red";
                valid = false;
            }
            else{
                client_l_name.style.backgroundColor = "white";
            }
            return valid;
			
            if (loc_city.value == "")
            {
                loc_city.style.backgroundColor = "red";
                valid = false;
            }
            else{
                loc_city.style.backgroundColor = "white";
            }
            return valid;
			
            if (loc_region.value == "")
            {
                loc_region.style.backgroundColor = "red";
                valid = false;
            }
            else{
                loc_region.style.backgroundColor = "white";
            }
            return valid;
        
			if (loc_brgy.value == "")
            {
                loc_brgy.style.backgroundColor = "red";
                valid = false;
            }
            else{
                loc_brgy.style.backgroundColor = "white";
            }
            return valid;
        }
	</script>

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Agent {{this.username}}</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
			
            
            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
			
			<div class="sidebar-add-btn">
                <a  href="/admin-add-assignment">Add New Assignment</a>
            </div>
			
            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
            <div class="bottom-button">
                <a href="/logout">Logout</a>
            </div>
        </div>
    
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>
		
        <div class="main">
            <div class="main-header">
                <h1>View Current Assignments</p>
                <p><b><i>Items will NOT be autosaved!</b></i></p>       
                <p>Please be mindful before you close the page.</p>       
            </div>  
            <form class="assignments-form" action = "/assignments" method = "post">
                <div class="main-table">
                    <table>
                        <tr>
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" type="number"></td>
                        </tr>
                        <tr>
                            <th><label for="client_f_name">Client First Name</label></th>
                            <td><input name="client_f_name" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="client_l_name">Client Last Name</label></th>
                            <td><input name="client_l_name" type="text"></td>
                        </tr>
						<tr>
                            <th></th>
                            <th>Lot Location</th>
                        </tr>      
						<tr>
                            <th><label for="lot_brgy">Lot Baranggay</label></th>
                            <td><input name="lot_brgy" type="text"></td>
                        </tr>  
						<tr>
                            <th><label for="lot_city">Lot City</label></th>
                            <td><input name="lot_city" type="text"></td>
                        </tr>
						
                        <tr>
                            <th><label for="lot_region">Lot Region</label></th>
                            <td><input name="lot_region" type="text"></td>
                        </tr>
                    </table>    
                </div>
                    
				<div id="main-table-bottom">
					<button type = "submit" formaction="/submit-assignment" name="save_ass" onsubmit="return checkForm()">Add Assignment</button>
				</div>
            </form>
        </div>
    </div>
</body>
</html>