<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="agent_ass.css">
    <title>Assignments</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-profile">
                <img src="temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Agent {{this.username}}</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/login">Log Out</a>
                </div>
            </div>
            
            
            <div class="sidebar-profile-btn">
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
            <div class="sidebar-settings-btn">
                <a href="/profile">Profile</a>
            </div>
            <div class="bottom-button">
                <a href="/login">Logout</a>
            </div>
        </div>
    
    
    
        <div class="main">
            <div class="main-header">
                <h1>Assignments</h1>
                <p><b><i>You have 1 pending assignment(s)!</b></i></p>       
                <p>Please confirm immediately to secure the job or it might be reassigned.
                If the assignments is not finished in one week, it will be reopened to all agents week, it will be reopened to all agents.</p>       
            </div>
            
            <div class="main-table">
                <table>
                  <tr>
                    <th>REF NO.</th>
                    <th>DATE OF REQUEST</th>                    
                    <th>CITY, REGION</th>
                    <th>ACTION</th>
                    <th><p style="width:400" class="table-long-text">COMMENTS</p></th>
                  </tr>
                  <tr>
                    <td>227851</td>
                    <td>4/28/22</td>
                    <td>Cavite, IV A</td>
                    <td>
                        <div class="main-assignments-status-btns">
                            <a href="viewAssignment.html">Accept</a>
                            <a href="assignments-denied.html">Deny</a>
                        </div>
                    </td>
                    <td><p class="comment-text left-align">Client gave a permit to visit the property for 2 persons. You may bring a companion.</p></td>
                  </tr>
                  <tr>
                    <td>227854</td>
                    <td>4/28/22</td>
                    <td>Cavite, IV A</td>
                    <td>
                        <div class="main-assignments-status-btns">
                            <a href="viewAssignment.html">Review Assignment</a>
                        </div>
                    </td>
                    <td><p class="comment-text left-align">Submitted for approval.</p></td>
                  </tr>
                  <tr>
                    <td>227858</td>
                    <td>4/28/22</td>
                    <td>Cavite, IV A</td>
                    <td>
                        <div class="main-assignments-status-btns">
                            <a href="viewAssignment.html">Edit Assignment</a>
                        </div>
                    </td>
                    <td><p class="comment-text left-align">Recheck the land size field. It cannot be 0.</p></td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>