<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="agent_ass_view.css">
    <title>Assignment No. {{this.ref_id}}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-profile">
                <img src="temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Agent {{this.username}}</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="login.html">Log Out</a>
                </div>
            </div>
            
            <div class="sidebar-profile-btn">
                
                <a href="profile.html">Profile</a>
            </div>
            <div class="sidebar-assignments-btn">
               
                <a  href="assignments.html">Assignments</a>
            </div>
            <div class="sidebar-history-btn">
               
                <a  href="history.html">History</a>
            </div>
            <div class="sidebar-settings-btn">
                
                <a href="settings.html">Settings</a>
            </div>
            
            <div class="bottom-button">
                
                <a href="assignments.html">Logout</a>
            </div>
        </div>
    

        <div class="main">
            <div class="main-header">
                <h1>View Current Assignments</p>
                <p><b><i>Items will NOT be autosaved!</b></i></p>       
                <p>Please be mindful before you close the page.</p>
            </div>  
            <form class="assignments-form" action = "/submit-post" method = "post">
                <div class="main-table">
                    <table>
                        <tr>
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" type="text" value="{{this.ref_id}}"></td>
                        </tr>
                        <tr>
                            <th><label for="type_of_approach">Type of Approach</label></th>
                            <td><input name="type_of_approach" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="client_f_name">Client First Name</label></th>
                            <td><input name="client_f_name" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="client_l_name">Client Last Name</label></th>
                            <td><input name="client_l_name" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="property_images">Property Images</label></th>
                            <td><input type="file" id="pimg" name="property_images"></td>
                        </tr>
						<tr>
                            <th><label for="location_images">Location Images</label></th>
                            <td><input type="file" id="pimg2" name="location_images"></td>
                        </tr>
                        <tr>
                            <th><label for="lot_size">Lot Size</label></th>
                            <td><input name="lot_size" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="trans_date">Transaction Date</label></th>
                            <td><input name="trans_date" type="date"></td>
                        </tr>
                        <tr>
                            <th><label for="purchase_price">Purchase Price</label></th>
                            <td><input name="purchase_price" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="type_of_approach">Listing Price</label></th>
                            <td><input name="listing_price" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="terms_of_sale">Terms of Sale</label></th>
                            <td><select name="terms_of_sale">
                                <option value="cash">Cash</option>
                                <option value="installment">Installment</option>
                                <option value="discount">Discounted</option>
                                <option value="unknown">Unknown</option>
                            </select></td>
                        </tr>
                        <tr>
                            <th><label for="location">Location Type</label></th>
                            <td><select name="terms_of_sale">
                                <option value="inferior">Inferior</option>
                                <option value="equal">Equal</option>
                                <option value="superior">Superior</option>
                            </select></td>
                            <th><label>Is a Corner Lot?</label></th>
                            <td><input type="checkbox"></td>
                        </tr>
                    </table>    
                </div>
                    
            <div id="main-table-bottom">
                <button type = "submit" name="save_ass">Save Details</button>
                <button type="submit" name="send_ass">Send For Processing</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>